span.icon {
	display: inline-block;
}
/*iconTop*/
#lineMenu .icon {
	width: 18px;
	height: 18px;
	position: absolute;
	left: -20px;
	top: -1px;
}
#basket {background: url(../icon/navigation/man-1.svg);}
#account {background: url(../icon/navigation/shopping-basket.svg);}
/*navigation*/ 
.where p:after {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../icon/navigation/left-arrow.svg);
}