html,div.wrapper,body {
	min-width: 800px;
	background: #f2f2f2;
}

/* clearfix */
#catagory:after,#catagory>ul:after,.content:after,.wrapperCell:after,
.product:after,.createOpinion:after,#wrapperReg>div>section:after,
.page:after,.bottomCell:after,.cellFooter:after ,.inFooter:after,
.left:after,.hot:after,.where:after,.topDescr:after,.descr:after,
.purch:after,.purch > section:after,.descrText:after,.guarantee:after,
.listProd>section:after,#lineMenu>ul:after,.filter:after,#filter>form:after,
.rank:after,.rank>div:after,.wrapperInf:after,.cont:after,#logo:after,
.vie:after,footer>div:after
 {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Molle:400i|Open+Sans+Condensed:300');
/* ---------- */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
	font-family: 'Molle', cursive;
	font-family: 'Open Sans Condensed', sans-serif;

}

a {
	text-decoration: none;
	color: #000;
}
ul {
	list-style: none;
}
p.grey {
	color: #dedede;
}
input[type = button],.buy >div:nth-child(2) > p,#tabs > ul > li,
input[type = submit]{
	color: #fff;
	cursor: pointer;
	background: #f16060;
	border: 0;
	transition: 0.2s;
}
input[type = button]:hover,.buy >div:nth-child(2) > p:hover,
#tabs > ul > li.active,input[type = submit]:hover  {
	background: #d44c38;
}
input ,textarea,select{
	outline: none;
}
textarea {
	resize: none;
}
.h1 {
	font-size: 130%;
	font-weight: 900;
}
.h2 {
	font-size: 120%;
	font-weight: 600;
}
.best {
	font-size: 130%;
	color: #ddd;
	font-weight: 600;
	margin-top: -24px;
}
/* Grid */


/*Header*/

#lineMenu {
	width: 100%;
	background: #f16060;
}
#lineMenu > ul {
	margin: 0 0 0 5%;

}
#lineMenu > ul>li:first-child {
	margin: 0;
}
#lineMenu > ul>li:last-child {
	float: right;
	width: 13%;
	position: relative;
	margin: 0 5% 0 0;
}
#lineMenu > ul>li:last-child > a {
	color: #fff;
}
#enterHeader {
	position: static;
	margin: 10px 0;
}
#enterHeader >p {
	font-size: 16px;
	text-align: center;
}
#enterHeader >input {
	width: 80%;
	margin: 3px auto;
	display: block;
}
#enterHeader >input[type=button] {
	width: 50%;
	font-size: 90%;
	border-radius: 7px;
	margin-top: 6px;
}
#lineMenu > ul > li {
	float: left;
	margin:  0 0 0 5%;
	padding: 5px 0%;
	font-size: 120%;
}
#lineMenu > ul > li > a {
	color: #fff;
	position: relative;
}
/*logo*/
#logo {
	width: 100%;
	margin: 20px 0;
}
.imgLogo > img{
	width: 20%;
	height: 100px;
	float: left;
	margin-left: 5%;
}
#logo .phone {
	float: right;
	width: 40%;
	display: inline-block;
}
#logo .phone >section{
	width: 40%;
	float: left;
	margin: 0 4%;
}
#logo .phone >section >img {
	float: left;
	width: 40%;
	height: 100px;
	border-right:  1px solid #adadad;
	padding-right: 6%;
}
#logo .phone >section >div {
	margin-top: 20px;
	margin-left: 43%;
}
#logo .phone >section >div> p {
	font-size: 90%;
	color: #adadad;
	line-height: 20px;
}
/* top menu */
#catagory {
	border-top: 1px solid #dedede;
	margin: 30px 0 0 0;
	position: relative;
	clear: both;
	width: 100%;
}
/*DropMenu*/
#catagory > ul {
	margin-left: 5%;
	position: relative;
	z-index: 100;
	width: 70%;
	float: left;
}
#catagory > ul >li{
	float: left;
	margin: 10px 0 10px 0.2%;
	width: 12%;
	position: relative;
	cursor: pointer;
	transition:0.3s;
}
#catagory > ul >li:hover {
	color: #f06262;
}
#catagory > ul >li:first-child{
	margin: 10px 0 10px 0;
}
.drop {
	width: 100%;
	top: -100%;
	position: absolute;
	transition: 0.5s;
	transform: scale(0);
}
#catagory > ul >li:hover .drop{
	opacity: 1;
	transform: scale(1);
	top: 100%;
}
.drop > li >a {
	background: #f16060;
	font-size: 100%;
	color:#fce3e3;
	display: block;
	width: 100%;
	padding: 4px 0 4px 10%;
	border-bottom: 1px solid #db5555;
	transition: 0.5s;
}
.drop > li >a:hover {

}
.drop > li:first-child >a {
	border-radius: 3px 3px 0 0;
}
.drop > li:last-child >a{
	border: 0;
	border-radius: 0 0 5px 5px;
}
.drop > li >a:hover {
	background: #ff7979;
}
/*search in catagory */ 
#catagory form {
	width: 25%;
	margin: 10px 0;
	float: left;
	position: relative;
}
#catagory form input[type= text] {
	width: 40%;
	float: right;
	margin: 0 38% 0 0;
}
#catagory form input[type= button] {

	position: absolute;
	top: 1px;
	left: 55%;
	width: 17px;
	height: 17px;
	background: url(../icon/navigation/cursor.svg);
}
/*user*/
/*logOrReg*/
/*where*/
.where {
	background: #f16060;
}
.where > div {
	margin: 0 0 0 1.6%;
}
.where  p {
	float: left;
	padding: 10px 0;
	margin: 0 0 0 3.55%;
	position: relative;
}
.where  a {
	color: #fff;
}
/* Content */ 

.content {
	margin: 100px auto;
	width: 75%;

	border-radius: 7px;
}
.product {
	clear: both;
	background: #f2f2f2;
	cursor: pointer;
}
.vie {
	border-radius: 7px;
	overflow: hidden;
	border: 1px solid #dedede;
	display: inline-block;
}
.vie >span{
	width: 30px;
	height: 30px;
	display: block;
	float: left;	
	background: #000;
}
.vie >span:first-child {
	border-right: 1px solid #dedede;
}
.wrapperCell {
	clear: both;
	text-align: center;
}
.cell {
	width: 18%;
	background: #fff;
	position: relative;
	transition: transform; 
	border: 1px solid #dedede;
	border-radius: 7px;
	transition: 0.5s;
	margin: 10px 1%; 
	cursor: pointer;
	display: inline-block;
}
.imgProduct {
	 width: 100%;
	 height: 200px;
	 border-bottom:  1px solid #dedede;
	 position: relative;
	 overflow: hidden;
	 border-radius: 7px 7px 0 0;
}
.imgProduct > a > span {
	width: 100%;
	height: 100%;
	position:absolute;
	color: #fff;
	padding: 40px 5%;
	border-radius: 7px 7px 0 0;
	font-size: 85%;
	text-align: center;
	background: rgba(0,0,0,.5);
	transition: 0.5s;
	opacity: 0;
	transform: scale(0);
}
.imgProduct > a:hover span {
	top: 0;
	left: 0;
	opacity: 1;
	transform: scale(1);
}
.imgProduct img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
	width: 100%;
	position: absolute; 
}
.nameProd {
	padding:  0 10%;
	text-align: center;
	position: absolute;
	margin-top: 155px;
}
.buy > div p{
	text-align: center;
}
.buy > div:first-child{
	width: 50%;
	float: left;
}
.buy > div:first-child>p:first-child {
	font-size: 150%;
	margin-top: 4px;
	color: #f16060;
}
.buy > div:first-child>p:nth-child(2) {
	font-size: 80%;
	color: #dedede;
	line-height: 7px;
}
.buy > div:nth-child(2) {
	width: 50%;
	float: left;
	border-left: 1px solid #dedede;
}
.buy >div:nth-child(2) > p {
	background: #f16060;
	margin: 7px;
	padding: 5px 0;
	border-radius: 7px;
}

.buy >div:nth-child(2) > p> a {
	color: #fff;
}
.page {
	margin: 20px 0;
} 
.page {
	text-align: center;
}
.page a {
	margin: 0 0.2%;
	padding: 5px 6px;
	border: 1px solid #dedede;
	border-radius: 4px;
	transition: 0.5s;
}
.page a:hover {
	border:  1px solid #000;
}
/*advantage*/

.advantage{
	width: 95%;
	margin: 0 auto;
	clear: both;
}
/*footer*/

footer {
	background: #2f2f2f;
}
footer > div {
	width: 85%;
	margin: 0 auto;
}
footer .rank {
	padding-top: 30px;
	width: 30%;
	margin-left: 5%;
	float: left;
}
 .rank:first-child{
	margin-left: 0;
}
 .rank > .h1 {
	color: #f1f1f1;
}
.rank > .h1:after {
	content: "";
	display: block;
	width: 100%;
	margin: 20px 0 0 0;
	height: 3px;
	background: #373837;
	border-radius: 7px;
}
 .rank > div {
	margin: 10px 0;
	margin-top: 20px;
	width: 100%;
	border-bottom: 1px solid #343434;
	padding-bottom: 10px;
}
 .rank > div:last-child{
	border: 0;
	margin-bottom: 20px;
}
 .rank > div > img {
	width: 23%;
	float: left;
	margin-top: 10px;
}
 .rank > div > section {
	float: left;
}
 .rank > div > section.prodFooter {
	margin: 0 5%;
	width: 47%;
}
 .rank > div > section.prodFooter > p {
	width: 100%;
}
 .rank > div > section.prodFooter > p:first-child {
	color: #bcbcbb;
	font-size: 120%;
}
.rank> div > section.prodFooter > p:last-child {
	color: #4d4d4d;
	font-size: 85%;
	margin-top: 7px;
}
.rank > div > section.valueFooter {
	border-left: 1px solid #343434;
	width: 20%;
	text-align: center;
	padding: 25px 0;
} 
 .rank > div > section.valueFooter> p:first-child {
	color: #c35657;
	font-size: 190%;
}
 .rank > div > section.valueFooter> p:last-child {
	color: #5b595c;
	font-size: 80%;
	line-height: 5px;
}
div.bottom {
	background: #262626;
	width: 100%;
	clear: both;
}
div.bottom > p {
	text-align: center;
	padding:  10px 0;
	color: #3c3c3c;
}
/*descr*/
.descr {
	border: 1px solid #dedede;
	width: 67%;
	float: left;
	margin-bottom: 40px;
	background: #fff;
	border-radius: 7px;
}
.descr >div {
	width: 90%;
	margin: 0 auto;
}
.topDescr {
	border-bottom: 1px solid #dedede;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
}
.topDescr > img {
	width: 54%;
	display: block;
	border-right 1px solid #dedede;
	padding: 16px 5.1% 16px 0 ;
	height: 300px;
	float: left;
}
#size {
	float: left;
	margin-top: 35px;
	width: 46%;
}
#size section {
	margin: 0 auto;
	width: 80%;
}
#size select {
	width: 100%;
	padding: 7px 5%;
	outline: none;
	border: 1px solid #dedede;
	font-size: 90%;
	margin: 0 0 0 0;
}
#size select option {
	font-size: 104%;
}
#size .h2 {
	margin: 4px 0;
}
.name > h3 {
	width: 100%;
	font-size: 140%;
	margin:  0 auto;
	padding: 20px 0;
}

/*buy*/
.purch {
	margin: 0 auto;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}
.purch > section {
	width: 27%;
	margin: 10px 0;
	float: left;
	border-right:  1px solid #dedede;
}
.past >.price {
	color: #dedede;
	text-decoration: line-through;
}
.price {
	font-size: 230%;
	color: red;
	text-align: center;
}
.currency {
	font-size: 70%;
	color: #dedede;
	text-align: center;
}
#purcher {

}
#purcher input{
	color: #fff;
	width: 30%;
	padding: 5px 0;
	display: block;
	margin: 17px auto;
	border-radius: 7px;
}

/*opinion*/

.opinion {
}
.descrText {
	border-bottom: 1px solid #dedede;
	padding: 10px 0;
}
.descrText img {
	max-width: 500px;
	max-height: 500px;
	padding: 10px 10px 10px 0;
}
.titledDescr {
	font-size: 200%;
	text-align: center;
	padding: 20px 0 20px 0; 
}
.opinion >section {
	padding:  20px 0;
	border-top: 1px solid #dedede;
}
.user {
	color: #f16060;
	float: left;
	font-size: 120%;
	line-height: 20px;
}
.titleOpi {
	line-height: 20px;
	float: left;
	margin: 0 0 0 3%;
	font-size: 110%;
}
.opinionText {
	clear: both;
}

/*sidebar*/
.sidebar {
	float: left;
	width: 33%;
	padding:  0 0 0 2%;
	margin: 0 auto;
	display: block;
	margin-bottom: 40px;
}
.sidebar .h1:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: #dcdcdc;
	margin-top: 5px;
	border-radius: 70px;
}
.sidebar section {
	margin-top: 40px;
}
.sidebar .rank {
	border-bottom: 1px solid #dedede;
}
.sidebar .rank:last-child {
	border: 0;
}
.sidebar .rank .prodFooter,.sidebar .rank .valueFooter {
	margin-bottom: -20px;
}
.sidebar .rank .prodFooter>p:first-child {
	color: #5d5d5d;
}
.sidebar .rank .prodFooter>p:last-child {
	color: #b8b7b8;
}
.sidebar .rank .valueFooter>p:first-child {
	line-height: 30px;
}
.sidebar .rank .valueFooter>p:last-child {
	color: #d0d0d0;
	line-height: 15px;
}

.sidebar .rank  .valueFooter{
	margin-top: 0;
	border-left: 1px solid #dedede;
}
/*searchSidebar*/
#searchSidebar {
	margin: 20px 0 0 0;
}
#searchSidebar input {
	color: #000;
	border: 1px solid #dedede;
}
#searchSidebar input[type = text] {
	height: 30px;
	border-radius: 7px;
	padding: 0 5%;
	width: 60%;
	border: 1px solid #dedede;
}
#searchSidebar input[type = button] {
	height: 30px;
	margin-left: -4%;
	border-radius: 7px;
	width: 44%;
	color: #fff;
}
/*createOpinion*/
.createOpinion {
	padding:  10px 0;
	border-top: 1px solid #dedede;
}
.createOpinion > h2 {
	text-align: center;
	border-bottom: 1px solid #dedede;
	padding-bottom: 10px;
}
#createOpinion {
	width: 100%;
	margin: 20px 0;
}
#createOpinion textarea {
	padding: 10px;
	width: 50%;
	height: 150px;
	float: left;
	border-radius: 7px;
}
#createOpinion  input[type = button]{
	float: left;
	width: 25%;
	margin: 11%;
	font-size: 120%;
	border-radius: 7px;
}
/*main*/
#main {
	width: 100%;
}
#main > div {
	z-index: -10;
	width: 100%;
	height: 400px;
	position: relative;
}
#main > div > a > img{
	width: 100%;
	height: 100%;
}
#main > div > a > p {
	z-index: 20;
	position: absolute;
}

/*reg*/ 
#wrapperRegLog {
	width: 32%;
	border: 2px solid #dedede;
	border-radius: 7px;
	margin: 40px 0 40px 15%;
}
#wrapperRegLog > div {
	width: 90%;
	margin:  0 auto;
}
#wrapperRegLog > div > .h1 {
	border-bottom: 1px solid #dedede;
	padding: 10px 0;
}
#reg {
	width: 100%;
	margin: 15px 0;
}
#reg > section {
	position: relative;
	transition: 0.5s;
	margin: 3px 0;
}
#reg  input {
	padding: 3px 2%;
	width: 55%; 
	transition: 0.5s;
}
#reg  input[type = button] {
	border-radius:  7px ;
	margin: 10px 0;
	padding: 5px 0;
	font-size: 120%;
	font-weight: bold;
}
.error {
	background: orange;
	padding: 5px 5%;
	width: 55%;
	margin: 20px 0;
	text-align: center;
	border-radius: 7px;
	transition: 0.5s;
}
#reg > section >.error:before {
	border: 20px solid transparent;
	border-bottom-color: orange;
	content: "";
	position: absolute;
	top: 25px;
	left: 10px;
}
/*basket*/
.listProd {
	
}

.listProd > section {
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.basketImg {
	float: left;
	width: 17%;
	clear: right;
	margin: 10px 0;
}
.listProd > section  img {
	width: 100%;
	height: 170px;
	
}
.listProd .name {
	text-align: center;
	font-size: 17px;
}
.descr {
	border: 0;
	background: #f2f2f2;
	width: 50%;
	float: left;
	margin: 20px 2%;	
}
.listProd > section > form {
	display: block;
	margin: 0 auto;
}
.listProd > section > form > input {
	padding: 3px 5%;
	border-radius: 7px;
	margin:  30px 0 0 0;
}
/*filter*/
#filter {
	background: #f2f2f2;
	padding: 15px 2%;
	border-radius: 7px;
}
#filter > form {
	width: 100%;
}
#filter > form > section{
	float: left;
	margin: 0 0 0 3%;
	display: inline-block;
}
#filter > form > section:first-child {
	margin: 0  0 0 0;
}
#filter > form > section > span {
	margin:  0 3px 0 0;
}
#filter > form > section:first-child > input {
	width: 70px;
}
#filter > form > section > input[type=button] {
	padding: 3px 30%;
	border-radius: 7px;
}
/*account*/
#tabs > ul {
	
}
#tabs > ul > li {
	display: inline-block;
	padding: 5px 6%;
	margin: 5px -3px;
}
#tabs > ul > li:first-child {
	border-radius: 7px 0 0 7px;
}
#tabs > ul > li:last-child {
	border-radius: 0 7px 7px 0;
}
.contentTabs {
	margin: 5px 0;
}
